<!DOCTYPE html>
<html lang="en">

<head>
	<title>Triple C Project Page</title>
	<link rel="stylesheet" type="text/css" href="../css/projectPage_meetful.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	 crossorigin="anonymous">
</head>

<body>

	<header id="projectpage_background">
		<div id="homepage_cover">
			<div class="navbar_line">
				<div class="navbar_logo">
					<button class="navbar_logo_button">
						<a href="../index.html"><img src="../Images/logo.png" alt="">
							<span>Triple C</span></a>
					</button>
				</div>
				<nav class="navbar">
					<ul class="navbar_ul_list" href="/">
						<li style="height:50px;overflow:hidden;position:relative;">
							<div id="hello_container">
								<p id="hello_container_text">
									Hello
								</p>
								<ul id="hello_container_list">
									<li class="hello_container_list_item">World !</li>
									<li class="hello_container_list_item">Triple C !</li>
									<li class="hello_container_list_item">Developers !</li>
									<li class="hello_container_list_item">Designers !</li>
								</ul>
							</div>
						</li>
						<li class="navbar_desktop_li"><a href="../index.html#homepage_aboutUs">About</a></li>
	          <li class="navbar_desktop_li"><a href="../index.html#announcement">Events</a></li>
	          <li class="navbar_desktop_li"><a href="../index.html#homepage_photos">Photos</a></li>
	          <li class="navbar_desktop_li"><a href="Team.html">Members</a></li>
	          <li class="navbar_desktop_li"><a href="">Projects
								<i class=" fas fa-angle-down"></i>
							</a>
							<ul class="projects_li">
								<li><a href="projectPage_flyerfighter.html">FlyerFighter</a></li>
								<li><a href="projectPage_androidtryway.html">Android App</a></li>
								<li><a href="projectPage_datascience.html">Data Science</a></li>
								<li><a href="projectPage_officialwebsite.html">Official Website</a></li>
								<li><a href="projectPage_infolder.html">Infolder Website</a></li>
								<li><a href="projectPage_kaggle.html">Kaggle</a></li>
								<li><a href="projectPage_meetful.html">Meetful</a></li>
								<li><a href="projectPage_jobaid.html">Jobaid</a></li>
								<li><a href="projectPage_lyrichub.html">LyricHub</a></li>
								<li><a href="projectPage_IdleGo.html">IdleGo</a></li>
							</ul>
						</li class="navbar_desktop_li">

						<li class="navbar_mobile_li">
							<a href="../ContactUs.html">
								<button id="nav_contact_button">
									Contact Us
								</button>
							</a>
						</li>
					</ul>

				</nav>
				<div id="menuToggle">
					<input type="checkbox" />
					<span></span>
					<span></span>
					<span></span>
					<ul id="nav_bar_menu">
						<a href="/">
							<li>
								<i class="fas fa-home"></i>
								Home
							</li>
						</a>
						<a href="#announcement">
							<li>
								<i class="far fa-calendar-alt"></i>
								Event Timeline
							</li>
						</a>
						<a href="#homepage_photos">
							<li>
								<i class="far fa-images"></i>
								Photo Gallery
							</li>
						</a>
						<a href="Team.html">
							<li>
								<i class="fas fa-users"></i>
								Team Members
							</li>
						</a>
						<li id="projects_list">

							<a href=""><i class="fas fa-briefcase"></i>
								Projects
								<i class="fas fa-angle-down"></i> </a>
							<ul class="projects_ul">
								<li><a href="projectPage_flyerfighter.html">FlyerFighter</a></li>
								<li><a href="projectPage_androidtryway.html">Android App</a></li>
								<li><a href="projectPage_datascience.html">Data Science</a></li>
								<li><a href="projectPage_officialwebsite.html">Official Website</a></li>
								<li><a href="projectPage_infolder.html">Infolder Website</a></li>
								<li><a href="projectPage_kaggle.html">Kaggle</a></li>
								<li><a href="projectPage_meetful.html">Meetful</a></li>
								<li><a href="projectPage_jobaid.html">Jobaid</a></li>
								<li><a href="projectPage_lyrichub.html">LyricHub</a></li>
								<li><a href="projectPage_IdleGo.html">IdleGo</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>


			<div id="projectpage_title">
				<!-- <p id="projectpage_title_text">
					Data Science Project
				</p> -->
				<span id="projectpage_title_text" style="border-bottom: 3px solid #CCA374;">Meetful Project</span>
				<div class="tech">

					<!-- </a>
					<a href="https://www.python.org/" target="_black">
						<i class="fab fa-python"></i>
					</a> -->

				</div>
			</div>

			<div id="projectpage_navigation">
				<nav>
					<a href="#projectpage_description">Description</a>
					<a href="#projectpage_demo">Demo</a>
					<a href="#projectpage_timeline">Timeline</a>
					<a href="#projectpage_team">Team</a>
				</nav>
			</div>
	</header>

	<!-- <main id="projectpage_description">

			<div id="projectpage_description_content">

				<div class="leftbox">
					<div id="projectpage_description_subtitle">
						<h2 class="projectpage_sub_title">Project Description
						</h2>
					</div>
					<p class="des_content">
					  Triple C’s official website is aimed at making the organization’s information more accessible to people who are interested in it. The information includes all the newest announcements, an events galleries, our project pages, a team members page, etc. <br><br>The design of our website reflects the core value and mission of Triple C: innovation and collaboration. It also serves as a great platform for demonstrating ongoing projects and achievements Triple C has done so far. Besides simply serving static information, the website will also include some functional component, such as a registration form to satisfy the org’s needs.
					</p>
				</div>
				<div class = "rightbox">
					<img class = "des_pic" src="../Images/website_des.png">
				</div>
			</div>
		</main> -->
	<main id="projectpage_description">

		<div id="projectpage_description_content">

			<div class="leftbox">
				<div class="projectpage_des_content">
					<div class="projectpage_des_content_box">
						<div id="projectpage_description_subtitle">
							<h2 class="projectpage_sub_title">Project Description</h2>
						</div>
						<div class="des_content">
                            Meetful is a website to create group meetings, record availabilities of group members, 
                            and provide optimal meeting times for group events. It has a clean interface to choose 
                            availabilities, and would show optimal time slots for meeting in addition to all group 
                            members’ availabilities. <br><br>Members can use unique usernames and optional passwords
                             to sign in the corresponding event.
						</div>
					</div>

				</div>
				<div class = "draw2">
			  <img src="../Images/draw2.png" alt="" height= 300px; width= 450px;>
			  </div>

			</div>
			<div class="rightbox">
				<img class="des_pic" src="../Images/meetful.png">
			</div>
		</div>
	</main>

	<div id="projectpage_demo">
		<div id="projectpage_demo_subtitle">
			<h1 class="projectpage_sub_title">Project Demo
			</h1>
		</div>
		<div class="github">
			<i class="fab fa-github"></i>
			<a href="https://github.com/ucsdtriplec/Meetful" target="_black">Github Repo</a>
		</div>

		<div id="imgstack">
			<a href="../Images/Meetful_Demo/First Page with Image.png" target="_black"><img src="../Images/Meetful_Demo/First Page with Image.png" alt /></a>
			<a href="../Images/Meetful_Demo/2nd Create Event.png" target="_black"><img src="../Images/Meetful_Demo/2nd Create Event.png" alt /></a>
		</div>

		<div id="imgstack">
			<a href="../Images/Meetful_Demo/3rd SignIn Page.png" target="_black"><img src="../Images/Meetful_Demo/3rd SignIn Page.png" alt /></a>
			<a href="../Images/Meetful_Demo/4th Optimal Results.png" target="_black"><img src="../Images/Meetful_Demo/4th Optimal Results.png" alt /></a>
			<a href="../Images/Meetful_Demo/5th All Results.png" target="_black"><img src="../Images/Meetful_Demo/5th All Results.png" alt /></a>
		</div>

	</div>
			<!-- project timeline -->
			<div id="projectpage_timeline">
				<div id="projectpage_team_subtitle">
					<img src="../Images/project_timeline/Project Timeline-meetful.jpg" alt="Meetful" width="400%" height="400%">
				</div>
			</div>

	<div id="projectpage_team">
		<div id="projectpage_team_subtitle">
			<h2 class="projectpage_sub_title"><span id="changeColor">Our</span> Team</h2>
		</div>
		<div class="row">
			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Ziqi.png" alt="Arow" style="width:100%">
					<div class="memberBox">
						<h2>Ziqi Gao</h2>
                        <p class="title">Product Manager</p>
                        <p class="title">Software Developer</p>

						<div class="social">
							<a href="https://www.linkedin.com/in/ziqi-gao-02bb5a15a/" target="_black">
								<i class="fab fa-linkedin"></i>
							</a>
							<a href="https://github.com/gzikie" target="_black">
								<i class="fab fa-github"></i>
							</a>
							</a>
							<a href="zig066@ucsd.edu">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Yuye.png" style="width:100%">
					<div class="memberBox">
                        <h2>Yuye Zhou</h2>
                        <p class="title">Tech Lead</p>
						<p class="title">Software Developer</p>

						<div class="social">
							<a href="https://github.com/zyyjojo" target="_black">
								<i class="fab fa-github"></i>
							</a>

							<a href="yzhou@ucsd.edu">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Guolong.png" alt="Tony" style="width:100%">
					<div class="memberBox">
						<h2>Guolong Li</h2>
						<p class="title">Software Developer</p>
						<div class="social">
							<a href="https://github.com/gul055" target="_black">
								<i class="fab fa-github"></i>
							</a>
							<a href="gul055@ucsd.edu">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- second row -->
		<div class="row">
			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Howard.png" alt="Quinton" style="width:100%">
					<div class="memberBox">
						<h2>Howard Lin</h2>
						<p class="title">Software Developer</p>
						<div class="social">
							<a href="https://github.com/houan880201" target="_black">
								<i class="fab fa-github"></i>
							</a>
							</a>
							<a href="mailto: hol119@ucsd.edu" target="_black">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Jiahao.png" style="width:100%">
					<div class="memberBox">
						<h2>Jiahao Lou</h2>
						<p class="title">UI/UX Designer</p>

						<div class="social">
							<a href="https://www.linkedin.com/in/jiahao-lou-7a0b2159/" target="_black">
								<i class="fab fa-linkedin"></i>
							</a>
							<a href="https://github.com/jiahaolou" target="_black">
								<i class="fab fa-github"></i>
							</a>
							</a>
							<a href="mailto: jil838@ucsd.edu" target="_black">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Irene.png" style="width:100%">
					<div class="memberBox">
						<h2>Irene Hsieh</h2>
						<p class="title">Software Developer</p>

						<div class="social">
							<a href="https://github.com/pwhsieh" target="_black">
								<i class="fab fa-github"></i>
							</a>
							</a>
							<a href="mailto: pwhsieh@ucsd.edu">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Third row -->
		<div class="row">

			<div class="column">
				<div class="card">
					<img class="card_avatar" src="../Images/Meetful Team/Jiayu.png" style="width:100%">
					<div class="memberBox">
						<h2>Jiayu Luo</h2>
						<p class="title">UI/UX Designer</p>
						<div class="social">
                            <a href="https://www.linkedin.com/in/jiayu-luo-aa48a217b/" target="_black">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/MooooonaLuo" target="_black">
                                <i class="fab fa-github"></i>
                            </a>
							<a href="jiayuluo.com" target="_black">
								<i class="fas fa-portrait"></i>
							</a>
							<a href="mailto: mona_luo@outlook.com">
								<i class="fas fa-envelope-square"></i>
							</a>
						</div>
					</div>
				</div>
            </div>
            
            <div class="column">
                    <div class="card">
                        <img class="card_avatar" src="../Images/Meetful Team/Zheng.png" style="width:100%">
                        <div class="memberBox">
                            <h2>Zheng Zeng</h2>
                            <p class="title">Software Developer</p>
                            <div class="social">
                                <a href="https://github.com/Leonard-Zeng" target="_black">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="mailto: zhz396@ucsd.edu">
                                    <i class="fas fa-envelope-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
	</div>

	<footer id="homepage_footer_container">

			<div id="homepage_footer_main_box">
			  <div id="homepage_footer_mission_title">
				"Make It Happen"
			  </div>
			  <div id="footer_icon_container">
				<div class="homepage_footer_icons" onclick="window.open('mailto:ucsdtriplec@gmail.com')">
				  <div id="homepage_footer_widget_mail" class="homepage_footer_widgets">
				  </div>
				</div>
				<div class="homepage_footer_icons" onclick="window.open ('https://github.com/ucsdtriplec')">
				  <div id="homepage_footer_widget_github" class="homepage_footer_widgets">
				  </div>
				</div>

				<div class="homepage_footer_icons" onclick="window.open ('https://www.facebook.com/ucsdtriplec')">
				  <div id="homepage_footer_widget_facebook" class="homepage_footer_widgets">
				  </div>
				</div>

				<div class="homepage_footer_icons" onmouseover="showImg('wechat')" onmouseout="hideImg('wechat')">

				  <div id="homepage_footer_widget_wechat" class="homepage_footer_widgets">
					<img id='wechat' src="../Images/wechatQR.JPG">
				  </div>

				</div>

				<div class="homepage_footer_icons" onclick="window.open('https://www.linkedin.com/company/ucsd-chinese-computer-community/')">
				  <div id="homepage_footer_widget_linkedin" class="homepage_footer_widgets">
				  </div>
				</div>

				<div class="homepage_footer_icons" onclick="window.open('./Sponsor.html')">
					<div id="homepage_footer_widget_sponsor" class="homepage_footer_widgets">
						<img id='sponsor' src="../Images/hezuowoshou.png">
					</div>
					</div>
			  </div>
			  <div id="copyright">
				Copyright &copy 2019 UCSDTripleC.
			  </div>
			</div>
		  </footer>

</body>

<script>
  function showImg(id)
      {
        document.getElementById(id).style.opacity = 1;
        document.getElementById(id).style.zIndex = "1";
      }

      function hideImg(id){
        document.getElementById(id).style.opacity = 0;
        document.getElementById(id).style.zIndex = "-1";

      }
</script>

</html>
